@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .single-product .row {
        text-align: left;
    }
    .single-product .col-2 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p {
        display: none;
    }
}